/* Link google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-fonts{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-fonts {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
  }

/* Shared styles */
body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.orange{
    color: #FEA301;
}

.sky-blue{
    color: #01ACFD;
}

.aqua{
    color: #05D4DF;
}

.navy-blue{
    color: #5D58EF;
}

.text-black{
    color: #000000;
}

.text-black-1{
    color: #111111;
}

.text-black-2{
    color: #202020;
}

.text-black-3{
    color: #808080;
}

.display-flex{
    display: flex;
}

.btn-primary{
    color: #FFF;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 60px;
    border: none;
}

.header,
.main{
    margin: 0 auto;
    max-width: 1440px;
}

.section-title{
    font-size:3rem;
    font-weight: 700;
    text-align: center;
}


/* Navbar related styles */
.nav{
    padding: 20px 140px;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.logo-area{
    gap: .75rem;
    align-items: center;
}

.logo img{
    width: 62px;
    height: 62px;
}

.brand-name{
    font-size: 2rem;
    font-weight: 700;
}

.nav-items{
    gap: 2rem;
    justify-content: center;
}

.nav li{
    list-style: none;
}

.nav li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-btn button{
    background-color: #FEA301;
}

.nav-btn .fa-bars{
    display: none;
}



/* Banner related styles */
.banner{
    gap: 50px;
    padding: 20px 140px;
    align-items: center;
    justify-content: space-between;
}

.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
}

.banner-subtext{
    font-size: 1.25rem;
    font-weight: 400;
}
.banner-content button{
    background-color: #111111;
}

/* Standard curriculum related styles */
.standard-curriculum{
    padding: 60px 140px;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
}

.card-items{
    display: grid;
    gap: 28px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    justify-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.card{
    padding: 40px;
    border-radius: 18px;
    box-shadow: inset 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.card .card-media img{
    width: 136px;
    height: 136px;
}
.card .card-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 32px;
}
.card .card-description{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 32px;
}
.card button{
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 32px;
}
.sky-blue-card{
    border: 1px solid #DEF5FF;
    background-image: linear-gradient(#DEF5FF, #FFFFFF);
}
.orange-card{
    border: 1px solid #FFF4DC;
    background-image: linear-gradient(#FFF4DC, #FFFFFF);
}
.navy-blue-card{
    border: 1px solid #F2E8FF;
    background-image: linear-gradient(#F2E8FF, #FFFFFF);
}
.arrow-icons{
    text-align: center;
}

/* Our stories related styles */

.our-stories {
    padding: 60px 140px;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-image: linear-gradient(#f7f7f7, rgba(254, 163, 1, 0.3));
}

.aqua-btn{
    background-color: #3CD8E8;
    padding: 14px 19px ;
}
.green-btn{
    background-color: #95B226;
    padding: 9px 19px;
}
.navy-btn{
    background-color: #5D58F0;
    padding: 9px 19px;
}

.story-card button{
    border-radius: 2rem;
    font-size: 1rem;
    border: none;
    color: #FFF;
}

.story-card-content{
    padding: 0  38px 38px;
}

.story-card-content {
    margin-top: -24px;
}
.story-card{
    width: 290px;
    height: 300px;
    border-radius: 16px;
    background-color: #FFFFFF;
}


.story1-card {
    grid-area: str1;
    width: 540px;
    height: 630px;
}
.story2-card {
    grid-area: str2;
}
.story3-card {
    grid-area: str3;
}
.story4-card {
    grid-area: str4;
}
.story5-card {
    grid-area: str5;
}

.story-items {
    display: grid;
    grid-gap: 19px;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "str1 str1 str2 str3"
        "str1 str1 str4 str5";
}
.story1-card button{
    font-size: 1rem;
    font-weight: 500;
}
.story-card .story-card-title {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 19px;
}
.story-card .story1-title {
    font-size: 1.5rem;
    margin-top: 33px;
}
.story-card .story-card-description {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 32px;
    color: #666666;
}
.story-card-media img {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}

.our-stories .view-all-btn{
    background-color: #111111;
    
}
.view-all{
    text-align: center;
}

/* Footer section related styles */
section.footer{
    background-color: #01ACFD;
    color: #FFF;
}
.parent-footer{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 2fr 1fr 1fr;
    padding: 123px 228px 174px 140px;
}

.brand-info img{
    width: 82px;
    height: auto;
}
.brand-info .brand{
    font-size: 2.50rem;
    font-weight: 700;
}

.asset-div{
    display: flex;
}
.brand-description{
    font-size: 1.25rem;
    margin-top: 34px;
}

.column-title-1{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 32px;
}
.about .menu-link .nav-items{
    padding-left: 0px;
}
.about ul li{
    list-style: none;
    font-size: 1.25rem;
    font-weight: 500;
    padding-left: 0;
    margin-bottom: 20px;
}
.about .nav-items a{
    text-decoration: none;
    color: #FFF;
}

.column-title-2{
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 36px;
}

/* Mobile responsive media query */
@media screen and (max-width: 576px){
    .btn-primary{
        font-size: 1rem;
        padding: 6px 24px;
    }
    .section-title{
        font-size: 26px;
    } 

    .nav{
        padding: 16px;
        border: 0.5px solid #FEA301;
    }
    .logo-area{
        align-items: center;
    }
    .logo img{
        width: 46px;
        height: 46px;
    }
    .brand-name{
        display: none;
    }
    .nav-items {
        display: none;
    }
    .nav-btn button{
        display: none;
    }
    .nav-btn .fa-bars{
        display: block;
    }
    .fa-bars:before, .fa-navicon:before {
        content: "\f0c9";
        font-size: 30px;
    }

    .banner{
        padding: 16px;
        gap: 20px;
        flex-direction: column-reverse;
    }
    
    .banner-content{
        text-align: center;
    }

    .banner-title{
        font-size: 2rem;
    }

    .banner-subtext{
        font-size: 1rem;
    }

    .banner-media img{
        width: 336px;
        height: 412px;
    }
    
    .standard-curriculum, .our-stories {
        padding: 40px 16px;
    }
    .card-items{
        gap: 16px; 
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card{
        padding: 36px 28px;
    }

    .card .card-media img{
        width: 92px;
        height: 92px;
    }

    .card .card-title{
        font-size: 1rem;
        margin-top: 22px;
    }
    
    .card .card-description{
        font-size: 11px;
        margin-top: 22px;
    }

    .card button{
        font-size: 11px;
        margin-top: 32px;
    }

    .arrow-icons{
        display: none;
    }

    .story-card{
        width: 190px;
        height: 200px;
        border-radius: 16px;
        background-color: #FFFFFF;
    }

    .story1-card{
        display: none;
    }

    .story-items {
        grid-gap: 11px;
        margin: 20px 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "str2 str3"
            "str4 str5";
    }

    .story-card button {
        font-size: 10px;
    }

    .story-card .story-card-title {
        font-size: 10px;
        margin-top: 11px;
    }

    .story-card-content {
        padding: 0 22px 17px;
    }

    .parent-footer{
        
        grid-template-columns: 1fr;
        padding: 60px 16px;
    }

    .brand-info img{
        width: 60px;
        height: 70px;
    }
    .brand-info .brand {
        font-size: 30px;
    }

    .brand-description {
        font-size: 1rem;
        margin-top: 23px;
    }
    .column-title-1{
        font-size: 1.25rem;
        margin-bottom: 27px;
    }

    .about .nav-items {
        display: block;
    }
    .about ul li{
        font-size: 1rem;
        margin-bottom: 17px;
    }

    .column-title-2 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 36px;
    }
}


/* Tablet responsive media query */
@media screen and (min-width:576px) and (max-width: 992px){
    .nav{
        padding: 16px;
    }
    a .logo {
        width: 86px;
        height: 86px;
    }
    .brand-name{
        display: none;
    }
    .nav-items {
        gap: 1.25rem;
        padding: 0;
    }
    .banner{
        padding: 16px;
        gap: 20px;
        flex-direction: column-reverse;
    }
    .banner-content{
        text-align: center;
    }

    .banner-media img{
        width: 840px;
        height: auto;
    }

    .standard-curriculum,
    .our-stories 
    {
        padding: 0 16px;
        
    }
    .story1-card {
        display: none;
    }
    .story-card{
        width: 100%;
        height: auto;
    }

    .story-items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "str2 str3"
            "str4 str5";
    }

    .story-card{
        
    }

    

}